.checkout-container {
  width: 50%;
  margin: 50px auto;
  text-align: center;

  .checkout-headings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  .total-price {
    text-align: right;
    font-size: 1.3rem;
    margin-top: 20px;
  }
}
