.navigation {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 25px;
  border-bottom: 1px solid black;

  .logo-container {
    height: 100%;
    width: 70px;

    .logo {
      font-size: 2rem;
      font-weight: bolder;
    }
  }

  .nav-links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      cursor: pointer;
    }
  }
}
