* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 168px;
  position: relative;
  min-height: 100vh;

  @media screen and (max-width: 600px) {
    padding-bottom: 280px;
    width: 100vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0;
}
